@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Sora:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Work Sans;
}

.header-logo{
    font-family: 'Inter', sans-serif;
    color: #100A42;
}

.getStarted {
    font-family: 'Sora', sans-serif;
    color: #120B48;
}

.readyvideo{
    font-family: 'Sora', sans-serif;
}

.vid_name {
    font-family: 'Sora', sans-serif;
}
.vid-title {
    color: #413C6D;
}